body {
     color:  #f4e5f5;
     background: black;
     font-family: 'DaisyWheel', sans-serif;    
     align-items: center;
     margin: 0;
     /* border: solid 2px yellow; */
     /* width: 80%;
     height: 70%; */
}

.title {
     display: flex;
     /* position: absolute; */
     z-index: 1;
     margin: 6.3% 0 -22% 0;
     /* margin: 0 auto; */
     /* float: top; */
     /* text-align: center; */
     color:  #f4e5f5;   
     /* text-shadow: white; */
     font-size: 18.5vw;     
}

input, textarea {
     font-size: 3vw;
}

.macro-container{
     
     margin-top: 8%;
     display: flex;
     /* justify-content: center; */
     align-items: center;
     flex-direction: column;
     
    
     /* max-height: 100%; */ 
     max-width: 100%;

     /* background-image: url(./assets/images/rio.jpg);
     background-size: cover;
      */
      /* background-blend-mode: hard-light; */
      /* border: violet solid 2px;  */
}


.main-container{
     display: flex;
     flex-direction: column;
     /* text-align: center; */
     align-items: center;
    /*  border: blue solid 2px; */
     width: 100%;
     /* height: 50%;  */
} 

.rana-orquidea{
     display: flex;
     width: 81%;
     /* position: absolute;  */
     /* top: 7vh;
     right: 9%;
     z-index: -1; */
     /* border: violet solid 2px; */
}

.form {
     display: flex;
     flex-direction: column;
     width: 81%;
     align-items: center;
     /* margin: 36.5vh 0 0; */
     margin: -2% 0 0 0;
     font-family: 'DaisyWheel', sans-serif;
    /*  border: blue solid 2px  */
}

.form-control.success input {
     border-color: #2ecc71;
 }
 
 .form-control.error input {
     border-color: #e74c3c;
 }

.form input, textarea{
     width: 45vw;
     line-height: 1.6; 
     background-color: rgb(244, 229, 245);
     border-radius: 2vw;
     margin-top: 6%;
     font-family: inherit; 
     /* border: red solid 2px  */
}

textarea {
     width: 58vw;
}
/* .form textarea {
     width: 45vw;
     height: 12vw;
} */

/* errors handling */

.form-item i, small{
     visibility: hidden;
     position: absolute;
     /* top: 40px;
     right: 10px; */
}

.checkbox-container {
     /* border: yellow solid 1px; */
     text-align: center;
     width: 100%;
     margin-top: 2%; 
         
}

.checkbox-container p {
     font-size: 3vw;
     display: inline;
     /* border: violet solid 2px; */
     
}

.checkbox-container a {
     text-decoration: underline;
     color:  #f4e5f5;
     /*  border: yellow solid 1px; */
}

.checkbox-container a:hover, .social-icons:hover{
     color: #BF65A7;
     border: #BF65A7;
}

input[type="checkbox" i] {
     margin-top: 0;
}

input.check {
     width : 2.8vw;
     height : 2.8vw;
     /* text-align: left; */
     /* background-color: lavenderblush; */
     
}

button {  
     margin: 4vw 0 4vw;
     border-radius: 50%;
     width: 21%;
     padding: 0;
     border: black;
     background-color: black;
    /*  color: transparent; */
    /*  background-image: url("./assets/images/espiral.jpg");
     background-size: cover; */
     
     /* background-repeat: no-repeat; */
     /* width: 21%;
     height: 12vh; */

     
     
     /* border-top: solid #4d2c44 0.5px;  */
     /* border-right: solid #83717e 0.05px;
     border-bottom: solid #BF65A7 0.001px; */
     /* border-left: solid #ac89a2 0.005px; */
     
     
     
     
     /* box-shadow: #BF65A7;  */ 
}

.spiral-send{
     border-radius: 50%;
     width: 95%;
     border-radius: 50%;
  
}

.spinning {
     -webkit-animation: rotation 2s infinite linear;
}

.spinning:hover {
     -webkit-animation: rotation2 2s infinite linear;
     /* width: 23%; */
}

@-webkit-keyframes rotation {
     from {
               -webkit-transform: rotate(0deg);
     }
     to {
               -webkit-transform: rotate(359deg);
     }
}

@-webkit-keyframes rotation2 {
     from {
               -webkit-transform: rotate(0deg);
     }
     to {
               -webkit-transform: rotate(-359deg);
     }
}

.form input:focus, textarea:focus {
     outline: 0;
     border-color: #BF65A7;
   }

/* .hover:hover {
     
} */

.leaf-back {
     width: 6.5vw;
     /* height: 2%; */
    /*  border: solid rgb(0, 255, 55) 2px; */
     transform: rotate(100deg);
     cursor: pointer;
     /* position: absolute; */
     margin: 0vh 67vw -13% 0vw;
     
     /* top: 101.5%; */
     /* bottom: -7.5%; */
}

footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     /* justify-content: space-between; */
     margin-bottom: 3%;
}



.footer-item {
     text-decoration: none;
     display: flex;  
     /* width: 100%; */
     margin: 0;
     /* text-align: center; */
     /* padding: 0 2.5%; */
     /* border: solid red 2px; */
}

.social-icons-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 85%;
     margin: 1% 0 2.5% 8%;
     /* border: solid yellow 2px; */
}

.brand-name {
     font-size: 4.7vw; 
}

.social-icons {
     font-size: 3vw;
     color:  #f4e5f5;
     /* border: solid rgb(0, 255, 55) 2px; */
}


@media only screen and (min-width: 1024px) {
     
   
     .title {
         /*  position: static; */
          margin: 4% 0 1.5%;
          /* text-shadow: white; */
          font-size: 11.5vw;      
     }

     .macro-container {
          margin: 1% 0 0;
          flex-direction: column;
          align-items: center;
          /* max-width: 80%; */
         /*  justify-content: flex-start; */
         /* border: solid rgb(0, 255, 55) 2px; */
         /* width: 70%; */
         
     }

     .main-container{
          width: 95%;
          flex-direction: row;
          /* align-items: center; */
          /* height: 80%; */
         /*  border: solid yellow 2px; */
          /* margin: 0; */
          justify-content: center;
          
     }

     
     .rana-orquidea {
          width: 46.5%;
          /* position: absolute; */
          z-index: -1;
          margin: -12.5% 0% 0 0;
          /* margin-left: 6.8%;
          top: 6%;
          bottom: 4%; */
          /* margin-bottom: 8vw;  */
     }

     .form {
          width: 35%;
          margin: -2% 0% 0 -12.5%;
          /* margin-left: 55%; */
          /* margin: 0 3vw 0 0; */
          /* border: solid rgb(0, 255, 55) 2px;  */   
     }



     .form input, textarea {  
          line-height: 0.5; 
     }


     .form input {
          width: 16vw
     }

     input::placeholder, textarea::placeholder {
          font-size: 60%; 
     }
     
     .form textarea {
          width: 22vw;
          margin-bottom: 0.5vh;
          padding: 5% 0 0 0;
     }

     input.check {
          width : 1vw;
          height : 1vw;
          margin: 0% 1vw 0;
     }

    /*  input + p {
          font-size: 2vw;
          
     } */

     p {
          width: 100%;
          /* border: solid rgb(0, 255, 55) 2px; */
     }
     .checkbox-container {
          width: 85%;
         /*  border: red solid 3px  */
     }

     .checkbox-container p {
          font-size: 1.4vw;
          line-height: 1.2;
          /* margin-top: 3vh; */
          /* border: red solid 3px  */  
     } 

     button {
          margin: 3% 0 0;
          /* border: red solid 3px; */
     }
     .spiral-send{         
          width: 70%;
     }


     footer { 
          display: flex;
          flex-direction: row;  
          width: 52vw;  
          margin: -1.5% 0vw 0% 11vw;
          /* border: red 2px solid; */
     }

     .leaf-back {
          width: 2.2vw;
          margin: -8.5% 0% 0 0;
          /* border: yellow 2px solid; */
     }

     .footer-portion {
          width: 40vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: -0.3% 0 0 5.7%;
          /* border: blue 2px solid; */
     }

     .brand-name {
          font-size: 1.8vw;
          margin: 0 0 0 0%;
         /*  border: red 2px solid; */
     }

     .social-icons-container {
          width: 20vw;
          justify-content: space-evenly;
          padding: 2% 0 0;
          margin: -1% 0 0 0%;
          /* border: green 2px solid; */
     }

     .social-icons {
          font-size: 1.25vw;
     }
    
}
