body {
     color:  #fff0f0;
     /* text-shadow: 2px 2px rgb(107, 14, 14); */
     background: black;
     font-family: 'DaisyWheel', sans-serif;    
     align-items: center;
     margin: 0%;
     /* border: solid 2px yellow; */      
}

p {
     /* justify-content: center; */
     font-size: 5.3vw;
     text-align: center;
     /* text-shadow: 2px 2px rgb(20, 107, 110); */
     margin: 0;
     padding: 2% 3% 3%;
     /* border-bottom: solid 1px rgb(61, 77, 77); */
     border-radius: 15%;
}

.title {
     /* display: flex; */
     /* padding: 12% 0 0 0; */
     /* justify-content: center; */
     /* position: absolute; */
     /* margin-top: 6.3%; */
     /* text-align: center; */
     /* color:  #f4e5f5;   */ 
     font-size: 19vw;     
    /*  border: solid 2px yellow; */
     margin: 11% 0% 0 4.5%;
    /*  margin: 12% 0 0 8.8%; */
     padding: 0 0 5% 0;
}

.main-container{
     /* margin-top: 8%; */
     display: flex;
     /* justify-content: center; */
     align-items: center;
     flex-direction: column;   
     /* max-height: 100%; */ 
     max-width: 100%;
     /* border: solid 5px yellow;  */
     display: block;
     position: relative;
     padding: 0 0 1.8% 0%;
}

.main-container::after {
     content: "";
     background-image: url(./assets/images/flor.jpg);
     background-position: top;
     background-size: 54%;
     opacity: 0.15;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
     margin: 0% 0 0 0;
   }

.atom {
     margin: -2% 0% 0% 19%;
     width:63%;
     /* border: solid 2px yellow; */
}

/* .servicios-container {
     border: solid 2px red; 
} */

.servicio-container {
     display: flex;
     flex-direction: column; 
     align-items: center;
     /* border: solid 2px yellow;  */
}


.jaguar {
     width:85%;
     margin: 3% 0 -11% 12.5%;
     /* border: solid 2px yellow;  */
     /* padding: 0;
     z-index: 5; */
}
.jgr-text {
     margin-top: 0%;
}

.boa {
     width:53%;
     transform: rotate(10deg);
     margin: 8% 0 -2% 2%;
     /* border: solid 2px yellow;  */
}

.boa-text {
     margin: -0.5% 0 0 1%;
}

.guacamaya {
     width:69%;
     transform: rotate(40deg);
     margin: 0% 6% -5% 0%;
     /* border: solid 2px yellow;  */
}

.gcmys-text {
     margin: -4% 0 0 1%;
}

.oso {
     width:40%;
    /*  height: 30%; */
     margin: 10% 0 0%;
}

.oso-text {
     margin-top: -5%;
}

footer {
     
     display: flex;
     flex-direction: row;
     /* align-items: center; */
     /* border: solid white 2px; */
     /* justify-content: center; */
     margin: 5% 0 4%;
     /* padding: 5% 0 3%; */

    /*  display: block; */
     /* position: relative; */
}

/* footer::after {
     content: "";
     background-image: url(./assets/images/flor.jpg);
     background-position: top;
     background-size: 35%;
     opacity: 0.12;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
     margin: -6.5% 0 0 0; 
   } */

.leaf-back {
     width: 6.5vw;
     /* height: 2%; */
     /* border: solid rgb(0, 255, 55) 2px; */
     transform: rotate(100deg);
     cursor: pointer;
     margin: -1vh 10vw 0 13vw;
     /* position: absolute; */
     /* margin-left: -46%;
     padding:  0 3.5% 0 18%;  */   
     /* margin:0; */
     /* top: 101.5%; */
     /* bottom: -7.5%; */
}

.footer-portion {
     /* border: solid yellow 2px; */
     width: 40vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0;
}

.footer-item {
     text-decoration: none;
     display: flex;  
     /* width: 100%; */
     margin: 0;
     /* text-align: center; */
     /* padding: 0 2.5%; */
     /* border: solid red 2px; */
}

.social-icons-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 72%;
     margin: 1% 0 2.5%;
     /* border: solid yellow 2px; */
}

.brand-name {
     font-size: 4.7vw; 
}

.social-icons {
     font-size: 3vw;
     color: inherit;
     /* border: solid rgb(0, 255, 55) 2px; */
}

.social-icons:hover{
     color: #af0505;
     /* border: #07c4d1; */
}

@media only screen and (min-width: 1024px) {
    
     p {
          font-size: 2.4vw;
          /* width: 100%; */
          border-bottom: none;
          /* border: solid 2px yellow; */ 

     }

     .title {
          /* position: relative; */
          display: flex;
          justify-content: center;
          /* align-items: center; */
          margin: 3% 0 -7.5% 0;
          font-size: 12.5vw;      
     }

     .main-container {
          width: 88%;   
          display: flex;
          flex-direction: row;
          margin: auto;
          padding-bottom: 1.98%;
          
          /* align-items: center; */
          /* justify-content: center; */
          /* border: solid blue 5px;  */   
     }

     .main-container::after {

          background-position: top;
          background-size: 48.2%;
          margin: 3% 0 0 0;
          /* border: red solid 3px */
        }

     .atom {
          position: sticky;
          top: 0;
          margin: -94% 0% 0 10%;
          padding: 11% 0 2% 0;
          width: 40%;
          /* position: absolute; */
          z-index:-3;
          /* top: -22vh;
          left: 9.5%; */
          /* border: solid white 2px; */ 
     }

     .servicios-container {
          width: 50%;
          align-items: center; 
          margin: 7% 0% 0% -10%;
          /* width: 50%; 
          display: flex;
          flex-direction: row;
          flex-flow: wrap; */
          /* border: solid 2px yellow; */ 
     }

     .servicio-container {
          display: flex;
          flex-direction: column; 
          align-items: center;
          width: 100%;
          /* border: solid 2px yellow;  */
          
     }
     .jaguar {
          width:112%;
          margin: 4% 0% -12% 29%;
          z-index: 5;
          /* border: solid 2px yellow;  */
          /* padding: 0; */
     }

     .jgr-text {
          margin: -2% 0 0 12%;
          /* border: solid 2px yellow; */
     }
     
     /* .serv-cnt-jaguar {
          margin: 0% 0% 0% 0%;
          border: solid 0.01px red;
     }  */
     
     .boa {
          width:68%;
          margin: -4% 0 0% 12%;
          /* border: solid 2px yellow;  */
     }

     .boa-text {
          margin: -2% 0 0 13.5%;
     }

    /*  .boa-flex-item {
          order: 1;
          
     } */
       
     .guacamaya {
          width:97.5%;
          margin: -17% 0% -3% 7%;
          /* border: solid 2px yellow;  */

     }

    .gcmys-text {
          margin: -9% -12% 0% 0%;
     }
    /*  .guacamaya-flex-item {
          order: 1;
     } */
     
     .oso {
          width:47%;
          /* max-height: 30vh; */
          margin: 4% 0 -3% 11%;
     }
     .oso-text {
          margin: -2% 0 0 13%;
     }





     

     footer { 
          flex-direction: row;  
          width: 50vw;  
          margin: 2% 0% 1.5% 28.3%;
          /* margin: 0;
          padding: 0 0 0 0; */
     }

     .leaf-back {
          width: 2.2vw;
          margin: 0 3vw 0 0;
     }

     .footer-portion {
          width: 40vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0;
     }

     .brand-name {
          font-size: 1.8vw;
     }

     .social-icons-container {
          width: 20vw;
          justify-content: space-evenly;
          padding: 2% 0 0;
     }

     .social-icons {
          font-size: 1.25vw;
     }
}