html {
  background-color: black;
  overflow: hidden;

}

body {
  font-family: 'DaisyWheel', sans-serif;
    
}

.background-container {
  position: absolute;
  display: grid;
  width: 110%;
  height: 100vh;
  grid-template-rows: 30% 70%;
  grid-template-areas: "top" "bottom";
  /* border: pink 3px solid; */
  z-index: -1;
  left: -12%;
  overflow: hidden;
}

.background-img {
  grid-area: bottom;
  opacity: 0.2;
  width: 156vw;
  overflow: hidden;
  /* height: 100%; */
  /* border: blue 10px solid; */
  
}

.shake {
  animation: shake 1s linear 2s;
}

/* .swiper-button-prev {
  transform: rotate(90deg);
 
}

.swiper-button-next {
  transform: rotate(-90deg);
} */

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.art-button {
  display: flex;
  width: 10%;
}

.logo {
  width: 80px;
  height: auto;
  position: absolute;
  top: 9%;
  left: 13%;
  opacity: 0.7;
  /* box-shadow: 5px 3px 6px rgb(106, 106, 106); */
}


/* ANIMATIONS */

.floating-1 {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.floating-2 {
  transform: translatey(0px);
  animation: float2 6s ease-in infinite;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-15px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(15px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* FLOATING BUTTONS */


/* SCENE IMG */

.scene-prop-item-a {
  background-image: url(../images/artistas.png);
  z-index: -1;
}

.scene-prop-item-b {
  background-image: url(../images/artistas.png);
  z-index: -1;
}

.scene-prop-item-c {
  background-image: url(../images/noticias.png);
  z-index: -1;
}

.scene-prop-item-d {
  background-image: url(../images/servicios.png);
  z-index: -1;
}

.scene-prop-item-e {
  background-image: url(../images/contacto.png);
  z-index: -1;
}


/* FLOATING AVATARS */

a,
a:hover {
  text-decoration: none;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.scene-item {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.scene-item-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  will-change: transform, opacity;
  text-decoration: none;
  color: #d2c193 !important;
  transition: transform 1.5s ease-in-out;
}

.cabeza-roja {
  width: 75%;
}

/* .cabeza-roja-label {
  left: 55%;
} */

.indigena {
  width: 85%;
}

/* .indigena-label {
  top: 104%;
  left: 52%;
} */

.guacamaya {
  width: 80%;
  left: 54%;
}

.rana-size {
  width: 68%;
}

.rana-label {
  top: 83%;
  position: absolute;
  left: 23%;
}




.scene-figure {
  -webkit-animation: scene-figure 4.2s ease-in-out infinite;
  animation: scene-figure 4.2s ease-in-out infinite;
  will-change: transform;
  pointer-events: none;
}

.scene-prop {
  -webkit-animation: scene-prop 2.1s ease-in-out infinite;
  animation: scene-prop 2.1s ease-in-out infinite;
  will-change: transform;
  padding-top: 100%;
  pointer-events: none;
}

.scene-prop-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* .rana-label {
  top: 20%;
} */

.scene-title {
  text-transform: uppercase;
  -webkit-transform: uppercase;
  font-size: 10vw;
 -webkit-text-stroke: 0.025em #8a7535;
  text-align: center;
  line-height: 1;
  pointer-events: none;
  opacity: 0.7;
}

.scene-header {
  text-shadow: 5px 2px 46px white;
}


@media only screen and (min-width: 768px) {
  .background-container {
    left: 0%;
    width: 100%;
    height: 100vh;
    grid-template-rows: 20% 80%;
    left: -8%;
    width: 110%;
  }
  
  .background-img {
    
    opacity: 0.2;
    width: 142vw;
    /* height: 100%; */
    
  }

  .swiper-button-prev, .swiper-button-next {
    height: 8%;
    width: 8%;
  }
   

  .scene-item-container {
    width: 68%;
  }

  .scene-title {  
    font-size: 10vw;
  }

  .logo {
    width: 20%;
    height: auto;
    position: absolute;
    top: 5%;
    bottom: 1%;
    left: 6.5%;
    right: 1%;
    z-index: 2;
    }  

    .guacamaya {
      width: 85%;
    }

    .rana-size {
      width: 75%;
    }
    
}


@media only screen and (min-width: 1024px) {

  /* .background-container {
       height: 100vh;
  } */




  .background-container {
      grid-template-rows: 5% 95%;
      left: 0%;
  }

  
  
  .background-img {
    grid-area: bottom;
    opacity: 0.2;
    width: 114vw;
    height: 75vw;
  }

  

  .scene-item-container {
    width: 35%;
    top: 45%;
  }

  .logo {
    width: 11%;
    height: auto;
    top: 8%;
    bottom: 1%;
    left: 6%;
    right: 1%;
  }

  .swiper-button-prev, .swiper-button-next {
    height: 11%;
    width: 5.5%;
  }
  
  .scene-title {  
    font-size: 5vw;
  }


  .scene-item-container:hover .scene-header {
    transform: translate(-50%, -2vw) rotate(0deg) scale(1);
    -webkit-transform: translate(-50%, -2vw) rotate(0deg) scale(1);
  }

  .scene-header {
    position: absolute;
    top: 112%;
    left: 50%;
    transform: translate(-50%, -2vw) rotate(-15deg) scale(0);
    -webkit-transform: translate(-50%, -2vw) rotate(-15deg) scale(0);
    transform-origin: 20% 50%;
    will-change: transform, opacity;
    transition: 0.25s ease-in-out;
  }

  .has-touched .swiper-slide-active .scene-item-container .scene-header,
  .scene-item-container.active .scene-header,
  .scene-item-container:focus .scene-header,
  .scene-item-container:hover .scene-header {
    transform: translate(-50%, -2vw) rotate(0deg) scale(1);
    -webkit-transform: translate(-50%, -2vw) rotate(0deg) scale(1);
  }

  .cabeza-roja {
    width: 38%;
    top: 48%;
  }
  
  .cabeza-roja-label {
    left: 55%;
    top: 103%;
  }

  .indigena {
    width: 45%;
  }
  
  .indigena-label {
  top: 98%;
  left: 52%;
}
  .guacamaya {
    width: 43%;
    top: 39%;
  }

  .guacamaya-label {
    top: 99%;
  }
  
  .rana-size {
    width: 50%;
    top: 55%;
  }

  .rana-label {
    top: 83%;
    /* position: static; */
  }
  .servicios-label{
    top: 108%;
  }


}